.body {
    background-color: #282c34;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    min-height: 80vh;
}

.Text {
    text-align: center;
    display: flex;
    font-size: calc(10px + 2vmin);
    color: white;
}